/* set font on whole site */
* {
    font-family: Arial, Helvetica, sans-serif;
}

/* text padding */
h1, h2, h3, p, address, dd, dt {
    padding: 0.3rem;
    padding-left: 1rem;
}

/* table styling */
table {
    padding: 1rem;
}

th {
    border-bottom: 3px solid #ccc;
    padding: 5px;
}

td {
    border-bottom: 1px solid #ccc;
    padding: 5px;
}

/* page selection buttons */
#page-selection {
    align-items: center;
    vertical-align: middle;
    text-align: center;
}

#page-selection > li {
    display: inline;
    margin-left: 1.5rem;
    border-left:#ccc 1px solid;
    padding-left: 30px;
}

/* remove border from first button */
li:first-of-type {
    border-left: none !important;
    padding-left: 0px !important;
    margin-left: 0px !important;
}

#page-selection > li > a {
    text-decoration: solid;
    color: rgb(0, 128, 255);
}

#page-selection > li > a:hover {
    text-decoration: underline;
}

#page-selection > li > a#active-page {
    color:rgb(78, 73, 81);
}

#name {
    font-size: 30px;
}

/* red text */
.highlighted {
    color: #ff0000;
}

/* margin around main page content */
.container {
    margin: 10px 50px 20px 30px;
}
